$font-family: "Roboto", sans-serif;
$clr-black: #000;
$clr-white: #fff;
$clr-primary: crimson;
$clr-secondary: #065471;
$clr-text-primary: cornsilk;
$clr-header-bot: #065471;
$clr-gray: #ccc;
$clr-gray-dark: #333;
$clr-text-banner: aliceblue;
$transitionAll: all ease-in 0.2s;
$clr-bg-sidebar: antiquewhite;
$clr-banner-beach: #3fd0d4;
$clr-bg-beach: #f8f8f8;
